header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;

    flex-wrap: nowrap;
}

header > .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

header nav {
    display: block;

    width: 500px;
    height: auto;


}



header  nav > ul {
    display: flex;
    width: 100%;
    height: auto;
    
    justify-content: space-between;
    gap: 10px;
}
header  nav > ul > li {
    display: flex;
    max-width: 100px;
    height: 50px;
    align-items: center;
}



header h2 {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    color: blue;
}



main {
    padding-top: 75px;
}