.wrapper {
  display: flex;

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  
  flex-direction: column;
  align-items: center;

  box-sizing: border-box; /* важно, чтобы padding не ломал ширину */
}