.about {
    display: block;
    width: 100%;


}

.about-items {
    display: grid;

    grid-template-columns: 250px 250px 250px;

    gap: 0 50px;
}


.about-item {
    display: block;
    width: 100%;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(201, 200, 200);

    background-color: rgb(253, 253, 253);

    padding: 10px;


}

