.skills {
    display: block;
    width: 100%;
    padding: 250px 0;
}



.skills  .skills-show {
    display: grid;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: 200px 200px 200px;
}


.skills-cont {
    display: block;
    max-width: 100%;
}