.button-blue {
    display: flex;
    width: 200px;
    height: 50px;

    background-color: blue;

    color: white;

    border-radius: 10px;

    align-items: center;
    justify-content: center;

}

.button-blue-board {
    display: flex;
    width: 200px;
    height: 50px;



    color: rgb(0, 0, 0);

    align-items: center;

    color: blue;
    border-radius: 10px;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    justify-content: center;

}

