body {
    font-family: "inter";

}


*,*::before,*::after{
    box-sizing: border-box;
} 


a {
    text-decoration: none;
    color: #000;
}


main {
    display: block;
    width: 100%;

    margin: 0 auto  ;
}